/*====================================
ANIMATIONS
====================================*/

/* Fade Up */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(80px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes fadeLeft{

    from{

        opacity:0;

        transform:translateX(-100px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}

@keyframes fadeRight{

    from{

        opacity:0;

        transform:translateX(100px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}

@keyframes floating{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }

}

@keyframes pulseGlow{

    0%{

        box-shadow:

        0 0 0 0

        rgba(59,130,246,.8);

    }

    100%{

        box-shadow:

        0 0 0 20px transparent;

    }

}

@keyframes rotate360{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

@keyframes gradientMove{

    0%{

        background-position:0% 50%;

    }

    50%{

        background-position:100% 50%;

    }

    100%{

        background-position:0% 50%;

    }

}

@keyframes shine{

    from{

        left:-100%;

    }

    to{

        left:100%;

    }

}

@keyframes blink{

    50%{

        opacity:0;

    }

}

.fade-up{

    animation:

    fadeUp 1s ease forwards;

}

.fade-left{

    animation:

    fadeLeft 1s ease forwards;

}

.fade-right{

    animation:

    fadeRight 1s ease forwards;

}

.float{

    animation:

    floating 5s ease infinite;

}

