*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{

    background:var(--bg);

    color:var(--text);

    font-family:'Inter',sans-serif;

    overflow-x:hidden;

}

.section-title{

    display:inline-block;
    
    padding:15px 40px;
    
    border-radius:50px;
    
    background:rgba(255,255,255,.05);
    
    backdrop-filter:blur(15px);
    
    border:1px solid rgba(255,255,255,.08);

}
