body.light-mode{

    background:#f4f7fb;

    color:#111827;

}

body.light-mode .glass,
body.light-mode .project-card,
body.light-mode .skill-card,
body.light-mode .cert-card,
body.light-mode .achievement-card,
body.light-mode .contact-card{

    background:

    rgba(255,255,255,.8);

    border:

    1px solid rgba(0,0,0,.08);

}

body.light-mode nav{

    background:

    rgba(255,255,255,.8);

}

body.light-mode input,
body.light-mode textarea{

    color:black;

}

body.light-mode .info-value,
body.light-mode .project-description,
body.light-mode .about-text,
body.light-mode .experience-description,
body.light-mode .achievement-text,
body.light-mode .quote-author,
body.light-mode .location,
body.light-mode .hero-description{

    color:#4B5563;

}

body.light-mode #particles-js{

    background:#F8FAFC;

}

body.light-mode .section-title{

    background:white;
    
    box-shadow:
    
    0 10px 30px rgba(0,0,0,.08);
    
    border:
    
    1px solid rgba(0,0,0,.05);

}

body.light-mode input,
body.light-mode textarea{

color:#111827;

}

body.light-mode input::placeholder,
body.light-mode textarea::placeholder{

color:#6B7280;

}

body.light-mode .section-title{

    color:#111827;

}

body.light-mode .ribbon{

    background:#FACC15;

    color:black;

}
